body {
  background: #8888883a;
}

main {
  background: #8888883a;
}

ul {
  list-style: none;
}

span {
  font-size: 10px;
}

.imagees {
  background: #fff;
}

.imagees img {
  width: 180px;
  height: 180px;
  padding: 15px;
}

.section-icons img {
  width: 50px;
  height: 30px;
}

.container-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feat-div {
  gap: 10px;
  border-radius: 26px;
  margin: 10px;
}

.feat-div img {
  width: 120px;
  height: auto;
  margin: auto;
  padding-top: 5px;
}

.this-container {
  position: relative;
  left: 600px;
  top: 270px;
}

.brand-filter h3,
.price-filter h3,
.delivery-filter h3 {
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-bottom: 1px solid rgba(136, 136, 136, 0.356);
  margin: 10px 0;
}

.ad-info-buttons button {
  padding: 5px 15px;
  background-color: #d35266;
  color: #fff;
  font-family: "helvetica-neue", Arial, Helvetica, sans-serif;
  border: none;
}

.slider-content-container {
  justify-content: center;
}

.product-section {
  background-color: #f0f0f0;
  display: flex;
  gap: 10px;
  padding: 25px 20px 10px 20px;
  color: #888;
  font-size: 12px;
}

.product-result-section {
  padding: 25px 20px 10px 20px;
  color: #888;
  font-size: 12px;
}

.product {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  max-width: 100%;
  align-self: center;
}

.product a {
  flex-direction: column;
}

.product-result {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-result img {
  width: 40%;
  max-width: 350px;
  align-self: center;
}

/* Queries */

/* Extra small devices (portrait phones, less than 576px) */

/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 425px) {
  .fas {
    max-width: 576px;
  }

  .this-none input{
    width: 80px;
    height: 23px;
    margin: auto;
    max-width: 576px;
  }

  .themini a{
    font-size: 6px;
    margin: auto;
    max-width: 576px;
  }
}
@media (min-width: 576px) {
  .this-side {
    display: -ms-grid;
    display: grid;
    top: 45px;
    background: #e3e3e3;
    z-index: 1;
  }

  .imagees img {
    width: 200px;
    height: auto;
  }

  .alignment {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .imagees h5 {
    padding-top: 100px;
  }

  .inlarge {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  aside {
    display: block;
  }

  footer {
    display: block;
    border-top: 1px solid #e3e3e3;
    z-index: 999;
  }

  .this-side {
    position: fixed;
    top: 45px;
    z-index: 1;
  }

  .inlarge {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .inlarge,
  .innone {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .inlarge {
    display: block;
  }

  .icon-section {
    padding-left: 35px;
  }
}
